* {
    border: 0px;
    /* padding: 0px; */
}

body {
    background-color: rgb(209, 224, 240);
}

.head {
    background-image: url(sus.jpeg);
    background-repeat: no-repeat;
    /* width: px; */
    height: 600px;
    background-size: 70%;
    background-position: center;
    /* background-origin: padding-box; */
    /* background-size: 200px; */
    /* background-position: center; */
}

.name {
    position: absolute;
    right: 300px;
    top: 0px;
    margin-top: 9px;
    border: 1px;
    width: 58px;
    height: 52px;
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.net {
    position: absolute;
    right: 280px;
    font-weight: bold;
    word-spacing: 1px;
}

#camp {
    color: white;
    border: 1px;
    width: 104px;
    height: 20px;
    text-align: center;
    background-color: red;
}

.body {
    position: absolute;
    right: 270px;
    top: 345px;
    /* word-spacing: 1px; */

}

.body p {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    border: 1px;
    width: 194px;
    height: 30px;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    color: royalblue;
    font-size: 15px;
}

.main h3 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    font-size: 21px;

}

.cbi {
    color: red;
}

.write {
    padding-left: 70px;
}

.warm {
    color: red;
    padding-left: 75px;
    font-weight: bold;
}

h2 {
    color: red;
    font-weight: bold;
    text-align: center;
}

.cc {
    text-align: center;
}

.lol {
    color: red;
}
.pet p{
 /* padding-left: 80px; */
 text-align: center;
}
.spa{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.why p{
    /* padding-left: 60px; */
}
.end {
    background-image: url(s.jpg);
    background-color: white;
    background-repeat: no-repeat;
     width: 50%;
    height: 500px;
    position: absolute;
    right: 115px;
    
}
.dia{
    /* padding-left: 120px; */
    /* padding-top: 200px; */
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    border: 1px;
    width: 245px;
   
    height: 271px;
    background-color: rgb(174, 177, 184) ;
    margin-left: 34px;
    margin-top: 84px;
}
.a{
    font-size: 20px;
}
input{
    border: 1px;
    border-radius: 3px;
    height: 19px;

}
.bt{
    width: 168px;
    height: 29px;
    text-align: center;
    color: white;
    background-color: red;
}
.bt:hover{
    cursor: pointer;
}
.no{
    color: red;
    font-weight: bold;
}